/* signup Styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image:url(images/tex2.jpg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    width: 500px;
    height: 700px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.message {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

label {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.input {
    width: 100%;
    padding: 0.8rem;
    margin: 1.5rem 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

.input::placeholder {
    color: transparent;
}

input:focus + span,
input:not(:placeholder-shown) + span {
    top: -8px;
    left: 10px;
    font-size: 12px;
    color: #007bff;
    background-color: #fff;
    padding: 0 5px;
}

span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: 0.3s;
}

.submit {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #0056b3;
}

.signin {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.signin a {
    color: #007bff;
    text-decoration: none;
}

.signin a:hover {
    text-decoration: underline;
}
